





/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: "JetBrains Mono";
	color: #93a1a1; 
}


.volume {
	background-color: #002b36;
	border: 0px solid #161616;
	border-radius: 0px;
}


.volume {
    background-repeat: no-repeat;
	background-size: 60px;
	min-height: 60px;
	min-width: 60px;
	margin: 0px;
	border-radius: 12px;

}









